/* CourseCard.css */

/* Container styling */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center the items in the container */
  margin: 20px;
}

/* Course card styling */
.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.coursecard-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0; /* Only round the top corners */
}

/* Body styling */
.course-body {
  padding: 15px;
  text-align: center; /* Center the text for better presentation */
}

/* Title styling */
.coursecard-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Price styling */
.course-price {
  font-size: 1rem;
  color: #2c3e50;
}

/* Discount price styling */
.course-price .text-danger {
  color: #e74c3c;
}

/* Button container styling */
.text-center {
  margin-top: auto;
  padding-top: 20px;
}

/* Button styling */
.view-more-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  background-color: #00b0ff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.view-more-btn:hover {
  background-color: #115cad;
}

/* Responsive design: Adjust for tablets and smaller screens */
@media (max-width: 768px) {
  .courses-container {
    justify-content: center; /* Center items on smaller screens */
  }

  .course-card {
    width: 100%; /* Make the course cards take up full width */
    max-width: 600px; /* Add a maximum width for larger screens */
    margin: 20px 0; /* Adjust margin for better spacing */
  }

  .coursecard-image {
    height: 200px; /* Adjust image height for smaller screens */
  }

  .course-body {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .coursecard-title {
    font-size: 1.2rem; /* Adjust font size for better readability */
  }

  .course-price {
    font-size: 1.1rem; /* Adjust font size for better readability */
  }
}

/* Responsive design: Adjust for mobile devices */
@media (max-width: 480px) {
  .course-card {
    margin: 10px 0; /* Reduce margin for smaller screens */
  }

  .coursecard-title {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .view-more-btn {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
    font-size: 0.9rem; /* Adjust font size for better readability */
  }
}
