.background {
  max-width: 90rem;
  width: 100%;
  padding: 1.25rem;
  margin: 0 auto;
  text-align: center;
}

.heading > p {
  font-family: "Montserrat", sans-serif;
}

.THE-SECRET-TO {
  color: #23bf67;
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
}

.heading-no-need-to {
  color: #7b6b12;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.background-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.2rem;
  align-items: center;
  margin: 5vh 0;
}

.background-container.iframe {
  width: 100%;
  /* max-width: 80rem; */
  height: 18.75rem;
  border: none;
}

.iframe-video{
  width: 30rem;
  height: 20rem;
}

.ready-to-grow-your-wrapper {
  max-width: 40rem;
  text-align: center;
}

.ready-to-grow-your {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.text-wrapper {
  color: #000;
}

.text-wrapper-2 {
  color: #17bf65;
}

.text-wrapper-3 {
  color: #7b6b12;
}

.background-list {
  /* padding: 0.4rem; */
  text-align: left;
  list-style: none;
}

.background-list li::before{
  content: "👉";
  margin-right: 8px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.never-miss-trading{
  color: #000;
}


.heading-no-prior {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  text-align: center;
  color: antiquewhite;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
}


/* Responsive Design */
@media (max-width: 768px) {
  .background-container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.2rem;
  }

  .iframe {
    order: 1;
  }

  .iframe-video{
    width: 30rem;
    height: 20rem;
  }

  .ready-to-grow-your-wrapper {
    order: 2;
    text-align: center;
  }

  .THE-SECRET-TO {
    font-size: 2rem;
    line-height: 3rem;
  }

  .heading-no-need-to {
    font-size: 1.1rem;
  }

  .list{
    align-items: center;
  }
}

@media (max-width: 480px) {
  .THE-SECRET-TO {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .heading-no-need-to {
    font-size: 1rem;
  }

  .ready-to-grow-your {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .list {
    font-size: 1rem;
    text-align: center;
  }
 
  .iframe-video{
    width: 20rem;
    height: 10rem;
  }
}
