
.disclaimer-faq-item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  margin-top: 20px;

}

.disclaimer-faq-question {
  background-color: #fff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: full;
  text-align: center;
  color: #000;
}

.disclaimer-faq-toggle {
  font-size: 40px;
  font-weight: bold;

}

.disclaimer-faq-answer {
  margin-top: 10px;
  font-size: 16px;
  color: white;

}

.disclaimer-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
  }
  