.whyattend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  /* padding: 2rem 0; Add some padding */
}

.whyattend-container .heading {
  color: #000;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.whyattend-container .whyattend-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-responsive */
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

.whyattend {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(50, 36, 238) 76%);
  border-radius: 0.625rem; /* 10px */
  padding: 1.25rem 0.625rem; /* 20px 10px */
  text-align: left;
  width: 100%;
  max-width: 35rem; /* 560px */
  display: flex;
  align-items: flex-start;
  gap: 0.625rem; /* 10px */
}

.whyattend .whyattend-img {
  color: #000;
  font-size: 1.875rem; /* 30px */
  flex-shrink: 0;
}

.whyattend .do-AI-driven-market {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  word-wrap: break-word;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .whyattend-container {
    margin: 0 5%;
    /* padding: 1.5rem 0; */
  }

  .whyattend-container .heading {
    font-size: 1.5rem;
  }

  .whyattend-container .whyattend-item {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items in one column */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
  }

  .whyattend {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .whyattend .whyattend-img {
    font-size: 1.5rem;
  }

  .whyattend .do-AI-driven-market {
    font-size: 1rem;
  }
}
